.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);
  margin-top: 3rem;
}

.container {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;

  .card:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.card {
  height: 100%;
  background: var(--bg_50);
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  border-radius: 24px;
  display: grid;

  grid-template-columns: 1fr 1.75fr;
  grid-template-rows: 1fr;

  .imageContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 5.5rem;
    width: auto;
    position: relative;
    margin: 1.5rem 0;

    .img {
      position: absolute;
      height: 5.5rem;
      border-radius: 50%;
      width: auto;
    }

    .placeholder {
      z-index: 2; 
      position: absolute;
      width: 5.5rem;
      height: 5.5rem;
      border-radius: 50%;
      background: var(--bg_200);
      transition: 200ms opacity ease-in-out; 
    }
  }

  .infoContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-x: hidden;
    width: 100%;

    .name {
      font-size: 1.3rem;
      font-weight: 700;
    }

    .role {
      opacity: .6;
      font-size: 1.1rem;
      font-weight: 700;
    }

    .desc {
      margin-top: .3rem;
      font-size: .8rem;
      width: 90%;
      line-break: auto;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}