.wrapper {
  width: 100%;
  height: 85px;
  background: var(--text);
}

.container {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-between;

  span {
    color: var(--bg_50);
    font-weight: 700;
    width: 100%;
    &:last-of-type {
      text-align: right;
    }
  }
}
