.wrapper {
  width: 100%;
  height: 85px;
  background: var(--text);
}

.container {
  display: flex;
  height: 100%;
  align-items: center;

  span {
    color: var(--bg_50);
    text-align: right;
    font-weight: 700;
    width: 100%;
  }
}