#wrapper {
  display: flex;
  flex-direction: column;
}

.textContainer {
  .header {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: var(--text);
    margin-top: 3rem;
  }

  .date {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text);
    opacity: 0.6;
  }

  .todays {
    display: none;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;

  .background {
    width: 70vw;
    height: 70vw;
    background: rgb(251, 194, 235);
    background: var(--gradient_main);
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: calc(var(--br_lg) * 1.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .number {
      text-align: center;
      font-size: min(30vw, 10rem);
      font-weight: 700;
      color: var(--bg_50);
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    }
  }
}

@media (min-width: 576px) {
  .container {
    .background {
      width: 40vw;
      height: 40vw;

      .number {
        font-size: 8rem;
      }
    }
  }
}

@media (min-width: 768px) {
  #wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 70%;
  }
  .textContainer {
    display: flex;
    width: auto;
    min-width: min-content;
    flex-direction: column;
    justify-content: center;

    .todays {
      display: block;
      font-size: 2.25rem;
      font-weight: 400;
      margin-bottom: 0.5rem;
    }

    .header {
      text-align: left;
      margin-top: unset;
      font-size: 3rem;
      background: var(--gradient_main);
      transform: translateY(-0.25rem);
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }

    .date {
      text-align: left;
      margin-top: 2rem;
    }
  }

  .container {
    margin-left: 5rem;
    .background {
      width: 20rem;
      height: 17rem;
      transform: rotate(-5deg);

      .number {
        font-size: 12rem;
      }
    }
  }
}

@media (min-width: 992px) {
  .textContainer {
    .todays {
      font-size: 3.5rem;
    }
    .header {
      font-size: 4.5rem;
    }
  }
}
