.wrapper {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--text);
  margin-top: 3rem;
}

.date {
  width: 100%;
  text-align: center;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--text);
  opacity: .6;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4rem 0;

  .background {
    width: 70vw;
    height: 70vw;
    background: rgb(251,194,235);
    background: linear-gradient(325deg, rgba(251,194,235,1) 0%, rgba(166,193,238,1) 100%);
    overflow: hidden;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: calc(var(--br_lg) * 1.5);
    display: flex;
    justify-content: center;
    align-items: center;

    .number {
      text-align: center;
      font-size: 9rem;
      font-weight: 700;
      color: var(--bg_50);
      text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
    }
  }
}