html {
  --bg_400: #9ca3af;
  --bg_200: #e5e7eb;
  --bg_100: #f8f8f8;
  --bg_50: #ffffff;
  --text: #222222;
  --accent: #2698e9;
  --accent_darker: #1284d5;

  --gradient_main: linear-gradient(325deg, rgba(251, 194, 235, 1) 0%, rgba(166, 193, 238, 1) 100%);

  --br_lg: 12px;
  --br_sm: 8px;
}
