@use 'variables';
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;700&display=swap");

html,
body {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  background: var(--bg_50);
  color: var(--text);
  font-family: "Source Sans Pro", sans-serif;
}
